// app global css in SCSS form

.imm-ml-0-important {
  margin-left: 0px !important;
}

.imm-person-card {
  width: 300px;
  display: flex;
  flex-flow: column;
}
.imm-person-card-img {
  flex-grow: 1;
}
.imm-person-card-content-wrapper {
  flex-grow: 10000;
  display: flex;
  flex-direction: column;
}
.imm-person-card-content-description {
  flex-grow: 1;
}
